

* {
    margin: 0;
    padding: 0;
    border: none;
}

#menu {
    float: right;
    color: rgb(211, 34, 34);
    font-size: x-large;
}

#menu a:hover {
    border-top: 1px solid sienna;
}

h1,h2 {
    color: seagreen;
    text-transform: uppercase;
    letter-spacing: 8px;
}

body {
    
    font-weight: 600;
}

