@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    }

body {
    background-color: rgb(199, 150, 58);
    font-family: merriweather, sans-serif;
    font-family: merriweather, sans-serif;
    font-weight: 900;
}

#logo {
    text-align: center;
}

#menu {
    text-align: center;
    
}

#menu li {
    display: inline;
    letter-spacing: 5px;

}

  

h1 {
    color: seagreen;
    text-transform: uppercase;
    letter-spacing: 8px;
    }
    
    
    h2:hover {
        
        text-transform: uppercase;
    }



   



    h3, h4 {
    margin-left: auto;
    margin-right: auto;
   }




.row {
    display: block;
    position: relative;
    width: 100%;
}

.full_colum{
    display: block;
    position: relative;
    width: 100%;
    max-width:800px;
    margin:20px auto 0 auto;
    height: auto;
    text-align:center;
}
.full_colum p {
    margin-top:20px;
}

.one_third_colum{
    display: inline-block;
    position: relative;
    width: 32%;
    height: auto;
    border: 0px solid black;
}


.one_fourth_colum{
    display: inline-block;
    position: relative;
    width: 24%;
    height: 100px;
    border: 1px solid black;
}



#elephant {
    background: url('../css/images/pexels-energepiccom-3839150.jpg') no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}

  

p.gallery{
    font-size: x-large;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 600px) {

}

 @media only screen and (min-width: 992px) {

 }
#bear {
    width: 90%;
    height: 300px;
    background: url('../css/images/bear-1102605_960_720.jpg') no-repeat center center;
    border-radius: 50%;
    float: left;
    background-size: cover;
    border: 1px solid blue;
    position: relative;
    margin-left: 5%;
}



#lion {
    width: 90%;
    height: 300px;
    background: url('../css/images/pexels-gareth-davies-1598377\ \(1\).jpg') no-repeat center center;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid blue;
    display: block;
    margin-left: 5%;
}

#gorilla {
    width: 90%;
    height: 300px;
    background: url('../css/images/gorilla.jpg') no-repeat center center;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid blue;
    margin-left: 5%;
    display: block;
}



#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-size: cover;
 
}
 #photos > img {
     width: 100%;
     background-size: cover;
 }

 #photos {
    column-count: 3;
}


   .left-heading {
       float: left;
       height: 200px;
       line-height: 650px;
       text-align: center;
   }

   .right-heading {
       float: right;
       height: 200px;
       line-height: 650px;
       text-align: center;
    
   }

      

   #times {
    background-size: contain;
    background-position: center;
    width: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#times div {
    background: url('../css/images/lion3.jpg'); 
    background-size: cover;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 325px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

       #footer {
        height:150px
        
    }
    
 .social-networks {
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     letter-spacing: 20px;
 }
 

.social-networks > li {
     display: inline;
     font-size: 160%;
     margin: 1%;
     padding: 5%;
     color: #3a3a3a;
     border: 20px;
 }

 .fab {
     font-size:300%;
     color: black;
 }

.signup-page {
    background: url('../css/images/giraffe.jpg');
}
.form {
    width:35%;
    float:left;
    padding-left:5%;
    padding-right:10%;
    
}

.button {
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    }

.button:hover {
    background-color: blue;
    color: #fff;
    

}



    .text {
         box-sizing: border-box;
         border-radius: 10%;
         border: 1px solid blue;
         display: inline;
          }
    

    @media only screen and (max-width: 600px) {

    }

    @media only screen and (min-width: 768px) {
    
    }
    
    @media only screen and (min-width: 600px) {
    
    }
    
     @media only screen and (min-width: 992px) {
    
     }
    

    

    @media only screen and (min-width: 992px) {

    }
   
    @media only screen and (min-width: 1200px) {

    }