

* {
    margin: 0;
    padding: 0;
    border: none;
}

#menu {
    float: right;
    color: rgb(211, 34, 34);
    font-size: x-large;
}

#menu a:hover {
    border-top: 1px solid sienna;
}

h1,h2 {
    color: seagreen;z
    text-transform: uppercase;
    letter-spacing: 8px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

body {
    
    font-weight: 600;
}

#bear {
    width: 50%;
    height: 400px;
    background: url('../css/images/bear-1102605_960_720.jpg') no-repeat center center;
    border-radius: 180%;
    background-size: contain;
}

.container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

#lion {
    max-width: 50%;
    height: 400px;
    background: url('../css/images/lion.jpg') no-repeat center center;
    border-radius: 180%;
    background-size: contain;
}

#gorilla {
    max-width: 100%;
    height: 400px;
    background: url('../css/images/gorilla.jpg') no-repeat center center;
    border-radius: 250%;
    background-size: contain;

   }